{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Data Jenis Biaya</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="{% url 'read_jenisbiaya' %}">Data Jenis Biaya</a></li>
          {% if is_owner %}
          <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'create_jenisbiaya' %}">Create Jenis Biaya</a></li>
          {% endif %}
        </ol>
      </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datajenisbiaya">
                        <thead class="table-light">
                            <tr class="text-center">
                                <th >No</th>
                                <th>Jenis Biaya</th>
                                {% if is_owner %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="table-dark">
                            {% for item in biayaobj %}
                            <tr class="text-center">
                                <td>{{forloop.counter}}</td>
                                <td>{{item}}</td>
                                {% if is_owner %}
                                <td>
                                    <a href="{% url 'update_jenisbiaya' item.idjenisbiaya %}"><button class="btn btn-inverse-warning">Update</button></a>
                
                                    <a href="{% url 'delete_jenisbiaya' item.idjenisbiaya %}"><Button class="btn btn-inverse-danger">Delete</Button></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
