{% extends "base/base.html" %}

{% block content %}

<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'read_jenisbiaya' %}">Data Jenis Biaya</a></li>
          <li class="breadcrumb-item " ><a  href="">Update Jenis Biaya</a></li>
        </ol>
      </nav>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Data</h3>
            <form class="form-sample" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="jenis_biaya" class="col-sm-3 col-form-label">Jenis Biaya</label>
                    <div class="col-sm-9">
                        <input value="{{biayaobj.jenis_biaya}}" class="form-control" placeholder="Jenis Biaya" type="text" name="jenis_biaya" id="jenis_biaya">
                    </div>
                </div>
                <button type="submit"class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}