{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'read_panenlokal' %}">Data Panen Lokal</a></li>
          <li class="breadcrumb-item " ><a  href="">Update Panen Lokal</a></li>
        </ol>
      </nav>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Data</h3>
            <form class="form-sample" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="tanggal_panen" class="col-sm-3 col-form-label">Tanggal Panen</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" name="tanggal_panen" id="tanggal_panen" value="{{tanggal_panen}}" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="komoditas" class="col-sm-3 col-form-label">Komoditas</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="komoditas" id="komoditas">
                            {% for item in allkomoditas %}
                            {% if item == getdetailobj.id_komoditas %}
                            <option selected value="{{item.id_komoditas}}">{{item}}</option>
                            {% else %}
                            <option value="{{item.id_komoditas}}">{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

               
                <div class="form-group row">
                    <label for="batch" class="col-sm-3 col-form-label">Batch</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" name="batch" id="batch" value="{{getdetailobj.batch}}" placeholder="batch" required>
                    </div>
                </div>
                

                

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="kadaluwarsa">Kadaluwarsa</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" name="kadaluwarsa" id="kadaluwarsa" value="{{tanggal_kadaluwarsa}}" placeholder="kadaluwarsa" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  for="kuantitas">Kuantitas</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" name="kuantitas" id="kuantitas" value="{{getdetailobj.kuantitas}}" placeholder="kuantitas" required>
                    </div>
                </div>
    

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}