<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Penjualan</title>
</head>
<body>
    <h1>Add Data Penjualan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Penjualan</h2>
        <label>Nama Pasar</label>
        <select name="pasar">
            {% for i in pasarobj %}
            <option value="{{i.id_pasar}}">{{i.nama_pasar}}</option>
            {% endfor %}
        </select>

        <label>Tanggal</label>
        <input type="date" name="tanggal" required>
        
        <br>
        <br>

        <h2>Detail Penjualan</h2>
        <label>Nama Produk</label>
        <select name="produk">
            <option value="" selected></option>
            {% for i in produkobj %}
            <option value="{{i.id_produk}}">{{i.nama_produk}}</option>
            {% endfor %}
        </select>
        <label>Nama Komoditas</label>

        <select name="komoditas">
            <option value="" selected></option>
            {% for i in komoditasobj %}
            <option value="{{i.id_komoditas}}">{{i.nama_komoditas}}</option>
            {% endfor %}
        </select>

        <br>
        <br>

        <label>Kuantitas Produk</label>
        <input type="number" name="kuantitasp">

        <label>Kuantitas komoditas</label>
        <input type="number" name="kuantitask">

        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}