<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Penjualan</title>
</head>
<body>
    <h1>Data Penjualan</h1>
    <a href="{% url 'create_penjualan' %}"><button>Add Data</button></a>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Pasar</th>
                <th>Tanggal</th> 
            </tr>
        </thead>

        {% for i in penjualanobj %}
        <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.id_pasar }}</td>
                <td>{{ i.tanggal }}</td>
                <td>
                    <a href="{% url 'update_penjualan' i.id_penjualan %}"><button>Update</button></a>
                    <a href="{% url 'delete_penjualan' i.id_penjualan %}"><button>Delete</button></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}