<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Mitra</h1>
    <a href="{% url 'create_mitra' %}"><button>Add Data</button></a>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Mitra</th>
                <th>Alamat</th> 
                <th>No HP</th>
                <th>Tanggal Awal Bermitra</th>
                <th>Durasi Kontrak</th>
                <th>Luas Lahan</th>
                <th>Status Mitra</th>
                <th>Action</th>
            </tr>
        </thead>

        {% for item in allmitra %}
        <tbody >
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.nama_mitra }}</td>
                <td>{{ item.alamat_mitra }}</td>
                <td>{{ item.nohp_mitra }}</td>
                <td>{{ item.tanggalawal_mitra }}</td>
                <td>{{ item.durasi_kontrak }}</td>
                <td>{{ item.luas_lahan }}</td>
                <td>
                    {% if item.status_mitra %}
                    Aktif
                    {% else %}
                    Tidak Aktif
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'update_mitra' item.id_mitra %}"><button>Update</button></a>
                    <a href="{% url 'delete_mitra' item.id_mitra %}"><button>Delete</button></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>