{% extends "base/base.html" %}

{% block content %}

<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'readmitra' %}">Data Mitra</a></li>
          <li class="breadcrumb-item " ><a  href="">Update Mitra</a></li>
        </ol>
      </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Data</h3>
            <form class="form-sample" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="nama_mitra"  class="col-sm-3 col-form-label">Nama Mitra</label>
                    <div class="col-sm-9">
                        <input type="text" name="nama_mitra" id="nama_mitra" class="form-control" placeholder="Nama Mitra" value="{{getmitraobj.nama_mitra}}" required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="alamat_mitra"  class="col-sm-3 col-form-label">Alamat Mitra</label>
                    <div class="col-sm-9">
                        <input type="text" name="alamat_mitra" id="alamat_mitra" placeholder="Alamat Mitra" class="form-control" value="{{getmitraobj.alamat_mitra}}" name required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="nohp_mitra"  class="col-sm-3 col-form-label">Kontak Mitra</label>
                    <div class="col-sm-9">
                        <input  type="number" name="nohp_mitra" id="nohp_mitra" placeholder="Kontak Mitra" class="form-control" value="{{getmitraobj.nohp_mitra}}" required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="tanggalawal_mitra"  class="col-sm-3 col-form-label">Tanggal Awal Bermitra</label>
                    <div class="col-sm-9">
                        <input type="date" name="tanggalawal_mitra" id="tanggalawal_mitra"  class="form-control" value="{{tanggal}}" name required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="durasi_kontrak"  class="col-sm-3 col-form-label">Durasi Kontrak</label>
                    <div class="col-sm-9">
                        <input type="number" name="durasi_kontrak" id="durasi_kontrak" value="{{getmitraobj.durasi_kontrak}}" placeholder="Durasi Kontrak(tahun)" class="form-control" required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="luas_lahan"  class="col-sm-3 col-form-label">Luas Lahan</label>
                    <div class="col-sm-9">
                        <input type="number" name="luas_lahan" id="luas_lahan" class="form-control" value="{{getmitraobj.luas_lahan}}"  placeholder="Luas Lahan (hektare)" required>
                    </div>
                </div>
        
                <div class="form-group row">
                    <label for="status_mitra" class="col-sm-3 col-form-label">Status Mitra</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="status_mitra" id="status_mitra" required>
                            <option value="Aktif" {% if statusmitra == 'Aktif' %} selected {% endif %}>Aktif</option>
                            <option value="Tidak Aktif" {% if statusmitra == 'Tidak Aktif' %} selected {% endif %}>Tidak Aktif</option>
                        </select>
                    </div>
                </div>
                
                <button type="submit"class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}