{% extends "base/base.html" %}

{% block content %}

<div class="page-header">
    <h1 class="page-title">Data Produksi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="{% url 'read_produksi' %}">Data Produksi</a></li>
          {% if is_owner or is_admin or is_produksi %}
          <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'create_produksi' %}">Create Produksi</a></li>
          {% endif %}
        </ol>
      </nav>
</div>
   
<div class="row">
    
        <div class="col-lg-12 grid-margin stretch-card">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-bordered text-center" id="datamitra" >
                            <thead class="table-light ">
                                <tr>
                                    <th>No</th>
                                    <th>Nama Produk</th>
                                    <th>Status Produk</th>
                                    <th>Tanggal</th>
                                    <th>Kuantitas</th>
                                    {% if is_owner or is_admin or is_produksi %}
                                    <th>Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table-dark" >
                                {% for item in produksiobj %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{item.id_produk}}</td>
                                    <td>{{item.status_produk}}</td>
                                    <td>{{item.id_produksi.tanggal}}</td>
                                    <td>{{item.kuantitas_produk}}</td>
                                    {% if is_owner or is_admin or is_produksi %}
                                    <td>
                                        <a href="{% url 'update_produksi' item.iddetail_produksi %}"><button class="btn btn-inverse-warning">Update</button></a>
                                        {% if is_owner %}
                                        <a href="{% url 'delete_produksi' item.iddetail_produksi %}"><button class="btn btn-inverse-danger">delete</button></a>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
    
{% endblock %}
