{% extends "base/base.html" %}

{% block content %}

<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'readmitra' %}">Data Mitra</a></li>
          <li class="breadcrumb-item " ><a  href="">Update Mitra</a></li>
        </ol>
      </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Data</h3>
            <form class="form-sample"  method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="produk">Produk</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="produk" id="produk">
                            {% for item in produkobj %}
                            {% if item.id_produk == getproduksi.id_produk.id_produk %}
                            <option selected value="{{item.id_produk}}">{{item}}</option>
                            {% else %}
                            <option value="{{item.id_produk}}">{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  for="status_produk">Status Produk</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{getproduksi.status_produk}}" name="status_produk" id="status_produk" required>
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-sm-3 col-form-label"  for="tanggal">Tanggal</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" value="{{tanggal}}" name="tanggal" id="tanggal" required>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  for="kuantitas">Kuantitas</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number"  value="{{getproduksi.kuantitas_produk}}" name="kuantitas" id="kuantitas" required>
                    </div>
                </div>
         
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
