<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Produk</title>
</head>
<body>
    <h1>Update Data Produk</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Nama Produk</label>
        <input type="text" name="nama_produk" value="{{getproduk.nama_produk}}" required>
        
        <label>Satuan Produk</label>
        <input type="text" name="satuan_produk" value="{{getproduk.satuan_produk}}" required>
        
        <label>Harga Produk</label>
        <input type="number" name="harga_produk" value="{{getproduk.harga_produk}}" required>

        <br>
        <br>    
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}