{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Akumulasi Panen Lokal</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a href="{% url 'read_panenlokal' %}" class="text-muted">Data Panen Lokal</a></li>
          <li class="breadcrumb-item "><a href="{% url 'read_penimbanganlokal' %}">Akumulasi</a></li>
          {% if is_owner or is_inspeksi %}
          <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'create_panenlokal' %}">Create Panen Lokal</a></li>
          {% endif %}
        </ol>
      </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datapenimbanganlokal">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Komoditas</th>
                                <th>Tanggal Panen</th>
                                <th>Tanggal Kadaluwarsa</th>
                                <th>Kuantitas</th>
                            </tr>
                        </thead>
                        <tbody class="table-dark">
                            {% for item in penimbangan %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.id_komoditas__nama_komoditas}}</td>
                                <td>{{item.idpanen_lokal__tanggal_panen}}</td>
                                <td>{{item.tanggal_kadaluwarsa}}</td>
                                <td>{{item.kuantitas_total}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}